<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传图片</title>
</head>
<body>
    <p>
        <a href="<%= url %>">你敢点我么</a>
        <form action="/home_data" method="POST" enctype="multipart/form-data">
            <input type="text" name="sort">
            <button type="submit">chaxun</button>
        </form>
    </p>
    <form action="/upload" method="post" enctype="multipart/form-data">  
             <input type="password" name="aaaa" id="bbbbbbb">    
            <input type="file" id="pic" name="pic" /> </br>
            <button type="submit">submit</button>
    </form>  
    
</body>
</html>